.userContainer {
  margin: 5px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.linkDetail {
  color: white;
}
.botonDetalles {
  padding-bottom: 10px;
}
