<div class="container-fluid eventContainer">
    <div class="row">
      <div class="col-sm-4">
        <div>
          <img class="images" [src]="imageUrlPrefix + evento.image" alt="" />
        </div>
        <div class="p">
          <p>link</p>
          <p>link</p>
          <p>link</p>
        </div>
      </div>
      <div class="col-sm-8">
          <div>
              <p>{{evento.name}}</p>
              <p>{{evento.description}}</p>
              <p>{{evento.location}}</p>
              <p>{{evento.date}}</p>
              <p>{{evento.ticketPrice}}</p>
              <p>{{evento.availableTickets}}</p>
          </div>
  
      </div>

    </div>
  </div>
  